* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #282828;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

h2 {
    font-size: 54px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -1px;
}

img {
    width: 100%;
    max-width: 100%;
}

.container {
    margin: 0 52px;
}

.team-section {
    position: relative;
    overflow: hidden;
    margin: 80px 0;
}

.team-section .section-title {
    text-align: center;
    margin-bottom: 48px;
}

.team-section .section-title span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.team-section .section-title h2 {
    margin-bottom: 16px;
}

.team-section .section-title p {
    line-height: 35px;
    color: #5F6980;

}

.team-section .team-item-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
}

.team-section .team-item-wrap .team-item {
    border: 1px solid #EAECF0;
}
.team-section .team-item-wrap .team-item img{
    border-radius: 10px 10px 10px 10px ;
    width: 100%;
    transition: transform 0.5s ease;
}
.team-section .team-item-wrap .team-item img:hover {
    transform: scale(1.2);

}

.team-section .team-item-wrap .team-item .team-info {
    padding: 16px;
}

.team-section .team-item-wrap .team-item .team-info h3 {
    padding-top: 5px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 4px;
}

.team-section .team-item-wrap .team-item .team-info .title {
    color: #3E3E59;
    margin-bottom: 8px;
}

.team-section .team-item-wrap .team-item .team-info .description {
    color: #5F6980;
    padding-bottom: 24px;
}

.social-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    transition: all .3s;
    width: 36px;
    padding: 9px;
    background: #F2F4F7;
    border-radius: 100px;
    display: block;
    height: 36px;
}

.social-icons li a:hover {
    background: #000;
}

.social-icons li a:hover img {
    filter: brightness(0) invert(1);
}

/* .social-icons i {
    text-decoration: none;
    color: #666;
    font-size: 2rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    background-color: #f0f0f0;/
} */

/* .social-icons li{
    display: inline-block;
    margin-right: 16px;
}

.social-icons li a {
    transition: all .3s;
    width: 36px;
    padding: 9px;
    background: #F2F4F7;
    border-radius: 100px;
    display: block;
    height: 36px;
}

.social-icons li a:hover{
    background: #000;
}

.social-icons li a:hover img{
    filter: brightness(0) invert(1);
} */